.footer-container{
    background-image: linear-gradient(salmon,violet,lightblue,white);
    height: 500px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.social-media-container{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.webpage-switch-container{
    height: 300px;
    display: flex;
    justify-content: space-around;
    background-color: green;
}

.terms-container{
    display: flex;
    justify-content: space-around;
    background-color: red;
    height: 80px;
    font-size: 12px;
}

.circles-container{
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    width: 550px;
}

.title-dot1{
    position: absolute;
    top: 45%;
    left: 14%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
}

.subtitle-dot1{
    position: absolute;
    top: 55%;
    left: 14%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 12px;
}

.dot1{
    height: 250px;
    width: 250px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin-top: 25px;
}

.title-dot2{
    position: absolute;
    top: 45%;
    left: 36%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
}

.subtitle-dot2{
    position: absolute;
    top: 55%;
    left: 36%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 12px;
}

.dot2{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: inline-block;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    margin-top: 25px;
}

.square{
    background-color: white;
    height: 250px;
    width: 550px;
    display: inline-block;
    border-radius: 40%;
    margin-top: 25px;
}

.conditions-container{
    display: flex;
    justify-content: space-around;
    background-color: blue;
    margin-top: 40px;
    height: 20px;
}

.home-footer-container{
    background-color: blue;
    margin-top: 40px;
    height: 20px;
    width: 80px;
}

.flowers-container{
    background-color: blue;
    margin-top: 40px;
    height: 20px;
    width: 80px;
}


